@charset "UTF-8";

body {
    background-color: #F9F7D8;
}

.form{
  background-color: #FBE1CC;
  padding: 20px;
}

.button{
  background-color: #FBE1CC;
  padding: 20px;
}

.back{
    background-color: #FCF0E6; 
}

/*配置*/
.frame{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.frame textarea {
    width:350px; 
}