@charset "UTF-8";

body {
  background-color: #F9F7D8;
  font-family: Helvetica , "游ゴシック", sans-serif;
  }

/*色*/
body{
  color: #3e1300;
}

a {
color: #3e1300;
text-decoration: none;
}

a:hover {
  color: #754F44;
  text-decoration: underline;
}

.navhome {
  background-color: #FDD699;
}

.navgoal {
  background-color: #FCF0E6;
}


/*配置*/
.nav{
  display: flex;
  justify-content: flex-start;
  
}

.main{
  background-color: #FDD699;
  padding: 20px;
}


.container-calendar {
  background: #FDD699;
  /*padding: 15px;*/
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}
.table-calendar {
  border-collapse: collapse;
  width: 100%;
}
.table-calendar th,
.table-calendar td{
  padding: 10px;
  border: 1px solid #ef8d3e;
  text-align: center;
  vertical-align: top;
}
.date-picker.selected {
  font-weight: bold;
  color: #fff;
  background: #ef8d3e;
}



.wrapper {
  margin: 15px auto;
  max-width: 700px;
}
/* 日曜 */
.date-picker:nth-child(1) {
color: red;
}
/* 土曜 */
.date-picker:nth-child(7) {
color: blue;
}
#monthAndYear {
  text-align: center;
  margin-top: 0;
}
.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}
.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #454545;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

/*マウスオーバー処理*/
.mousecolor:hover {
  color: green;
}

.month{
  text-align: center;
  font-size: 30px; 
}

