@charset "UTF-8";

body {
  background-color: #F9F7D8;
  font-family: Helvetica , "游ゴシック", sans-serif;
  }

a {
color: #3e1300;
text-decoration: none;
}

a:hover {
  color: #754F44;
  text-decoration: underline;
}

.diary{
   background-color: #FDD699; 
}

.back{
    background-color: #FCF0E6; 
}

div{
    background-color: #FDD699;
    padding: 20px;
}


/*配置*/
.item{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}

.date{
    padding-top: 0.1px;
}

.diary{
    padding-bottom: 10px;
}

.item{
    padding: 15px 0px;
}

