@charset "UTF-8";

body {
  background-color: #F9F7D8;
  font-family: Helvetica , "游ゴシック", sans-serif;
  }
  
a {
color: #3e1300;
text-decoration: none;
}

a:hover {
  color: #754F44;
  text-decoration: underline;
}

.form{
    background-color: #FDD699;
}




/*配置*/
.form{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.frame textarea{
   width:350px; 
}

.frame input{
   width:300px; 
}

.frame p{
    padding: 10px;
}

.button{
    padding: 15px;
}

div{
  background-color: #FDD699;
  padding: 20px;
}

.back{
  background-color: #FCF0E6; 
  padding-left: 20px;
}