@charset "UTF-8";

body {
  background-color: #F9F7D8;
  font-family: Helvetica , "游ゴシック", sans-serif;
  }
  
a {
color: #3e1300;
text-decoration: none;
}

a:hover {
  color: #754F44;
  text-decoration: underline;
}

.navhome {
  background-color: #FCF0E6;
}

.navgoal {
  background-color: #FDD699;
}

.detail {
  background-color: #FDD699;
  padding: 20px;
}

.newgoal{
  background-color: #FCF0E6;
}

/*配置*/

.nav{
  display: flex;
  justify-content: flex-start;
}

.goals{
  padding: 20px;
}